# Virtual environment
botdocvenv/
venv/
__pycache__/
*.pyc

# Data & Models
data/
models/

# Environment files
.env
.env.local
.env/
# Streamlit & Cache
.streamlit/
logs/

# Temporary files
*.log
.DS_Store
